{% extends 'base.html' %}
{% load static %}
{% block title %}book appointmnet{% endblock %}
{% block link %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}

<style>

</style>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
           
            {% if messages %}
                {% for msg in messages%}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
        
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <h1><strong>{{msg}}</strong></h1>
                {% endif %}
                {% endfor %}
                {% endif %}
                
            <div class="card-box mb-30">
                
            <div class="pb-20">
            
                <div class="mt-5"> </div>

            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                            <th scope="col">Disease</th>
                            <th scope="col">Doc name</th>
                            <th scope="col">Schedule</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                           
                            
                        </tr>
                        
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>Ramesh</td>
                            <td>Male</td>
                            <td>27</td>
                            <td>Fever</td>
                            <td>Dr. lavanya</td>
                            <td>19 wed,9:00 am - 10:00 am</td>
                            <td><button class="btn btn-success " type="button" data-list={{i.id}} value="ship">Approve</button></td>
                            <td><button class="btn btn-danger " type="button" data-list={{i.id}} value='deliver'>Decline</button></td>
                           
                            
                        </tr>
                        <tr>
                            <td>sumesh</td>
                            <td>Male</td>
                            <td>45</td>
                            <td>Stomach ache</td>
                            <td>Dr. sudarshan</td>
                            <td>25 tue,5:00 pm - 6:00 pm</td>
                            <td style="color: green;">Approved</td>
                            <td></td>
                           
                            
                        </tr>
                         <tr>
                            <td>Amar</td>
                            <td>Male</td>
                            <td>34</td>
                            <td>Fever</td>
                            <td>Dr. lavanya</td>
                            <td>19 wed,11:00 am - 12:00 pm</td>
                            <td><button class="btn btn-success " type="button" data-list={{i.id}} value="ship">Approve</button></td>
                            <td><button class="btn btn-danger " type="button" data-list={{i.id}} value='deliver'>Decline</button></td>
                           
                            
                        </tr>
                        <tr>
                            <td>Kavitha</td>
                            <td>Female</td>
                            <td>32</td>
                            <td>Migrane issue</td>
                            <td>Dr. Joseph</td>
                            <td>19 wed,9:00 am - 10:00 pm</td>
                            <td style="color: red;">Declined</td>
                            <td></td>
                           
                           
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            </div>
            </div>
                
                    <!-- Simple Datatable End -->
        
        </div>
        
    </div>
    
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

<script>

jQuery(document).ready(function($) {
    $('#example').DataTable();
} );
</script>

<script>

    $(".status").click(function() {
        var val  =$(this).val();
        var f = confirm('Do you really want to ' + val + ' the item ?' );
               if (f== true){
        var id1 = $(this).attr("data-list");
        console.log(id1)
       
        console.log(val)
        var data = {
        'csrfmiddlewaretoken' : '{{csrf_token}}',
        'Value' : val,
        'id1':id1

        }
        $.ajax({
            url:'/admin1/orderchange/',
            method:'POST',
            data: data,
            dataType:'json',
            success:function(data){
                if (data =="true"){
                    window.location.replace('/admin1/vieworder/')
                
                }
            }
        })
    }
    })
</script>

{% endblock %}

